In [1]:
import numpy as np
import pandas as pd

In [7]:
labels = ["a","b","c"]
my_data = [10,20,30]
my_arr = np.array(my_data)
my_dict = {"a":100, "b":200, "c":300}

In [10]:
ser = pd.Series(data=my_data, index=labels) #Panda labelled Series
ser

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_dict) #Sets keys as index and value as data

a    100
b    200
c    300
dtype: int64

In [14]:
ser["a"] #Retrieving elements from Series

10

In [18]:
ser[0]

10

In [21]:
ser1 = pd.Series([1,2,3,4],["India", "Pak", "USA", "Germany"])

In [22]:
ser2 = pd.Series([10,20,50,40],["India", "Pak", "China", "Germany"])

In [23]:
ser1 + ser2 #Places NAN for non matching ones

China       NaN
Germany    44.0
India      11.0
Pak        22.0
USA         NaN
dtype: float64

In [24]:
np.random.seed(100)

In [26]:
df = pd.DataFrame(np.random.randn(3,4),["a","b","c"], ["w","x","y","z"]) #DataFrame with row and col names
df

          w         x         y         z
a -1.749765  0.342680  1.153036 -0.252436
b  0.981321  0.514219  0.221180 -1.070043
c -0.189496  0.255001 -0.458027  0.435163

In [28]:
pd.DataFrame(np.random.randn(3,4), ["x","y","z"])  #Default col names

          0         1         2         3
x  0.184519  0.937082  0.731000  1.361556
y -0.326238  0.055676  0.222400 -1.443217
z -0.756352  0.816454  0.750445 -0.455947

In [30]:
df["w"]  #Its a Series

a   -1.749765
b    0.981321
c   -0.189496
Name: w, dtype: float64

In [32]:
#Getting object type 
type(df)
type(df["w"])

pandas.core.series.Series

In [44]:
df["new"] = df["w"] + df["x"] #Creating new Cols
df

          w         x         y         z       new
a -1.749765  0.342680  1.153036 -0.252436 -1.407085
b  0.981321  0.514219  0.221180 -1.070043  1.495540
c -0.189496  0.255001 -0.458027  0.435163  0.065506

In [46]:
df.drop("new",axis=1)  #Drops column, use inplace=True to affect original DF

          w         x         y         z
a -1.749765  0.342680  1.153036 -0.252436
b  0.981321  0.514219  0.221180 -1.070043
c -0.189496  0.255001 -0.458027  0.435163

In [54]:
df.loc["a"] #Accessing Rows

w     -1.749765
x      0.342680
y      1.153036
z     -0.252436
new   -1.407085
Name: a, dtype: float64

In [52]:
df.iloc[2,1] # Reference by numeric index

0.25500144427338167

In [55]:
df.iloc[1:,:2]

          w         x
b  0.981321  0.514219
c -0.189496  0.255001

In [60]:
my_df= pd.DataFrame(np.arange(1,10).reshape(3,3)) # Creating DF from array
my_df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9