In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(5,5),["a","b","c","d","e"],["v","w","x","y","z"])
df

          v         w         x         y         z
a -0.675333  0.937011 -0.197502  0.867886  0.270884
b -0.294710 -0.208581 -0.360504 -0.125636  0.075553
c -0.500400 -0.757816 -1.813983 -2.250832 -0.902098
d  0.709815  0.728052  0.094412 -0.357924  0.657069
e -0.871598 -0.579248  0.501062  1.480957 -2.095387

In [4]:
df > 0 #retruns a DF

       v      w      x      y      z
a  False   True  False   True   True
b  False  False  False  False   True
c  False  False  False  False  False
d   True   True   True  False   True
e  False  False   True   True  False

In [5]:
df[df>0] #Returns NAN where it returns a false

          v         w         x         y         z
a       NaN  0.937011       NaN  0.867886  0.270884
b       NaN       NaN       NaN       NaN  0.075553
c       NaN       NaN       NaN       NaN       NaN
d  0.709815  0.728052  0.094412       NaN  0.657069
e       NaN       NaN  0.501062  1.480957       NaN

In [13]:
df[df["v"]<0] # Retuns only those rows where condition is true

a   -0.675333
b   -0.294710
c   -0.500400
e   -0.871598
Name: v, dtype: float64

In [15]:
df[df["v"]<0][["v","w"]] #Get only cols v and w

          v         w
a -0.675333  0.937011
b -0.294710 -0.208581
c -0.500400 -0.757816
e -0.871598 -0.579248

In [16]:
df[(df["w"]>0)&(df["v"]<0)]  #Multiple conditions. Note: 'and' operator cannot be used here

          v         w         x         y         z
a -0.675333  0.937011 -0.197502  0.867886  0.270884

In [22]:
new_df=df.reset_index()
new_df

  index         v         w         x         y         z
0     a -0.675333  0.937011 -0.197502  0.867886  0.270884
1     b -0.294710 -0.208581 -0.360504 -0.125636  0.075553
2     c -0.500400 -0.757816 -1.813983 -2.250832 -0.902098
3     d  0.709815  0.728052  0.094412 -0.357924  0.657069
4     e -0.871598 -0.579248  0.501062  1.480957 -2.095387

In [33]:
new_index = "CA WY IL CZ AA".split()
df['State'] = new_index
df.set_index('State')

              v         w         x         y         z
State
CA    -0.675333  0.937011 -0.197502  0.867886  0.270884
WY    -0.294710 -0.208581 -0.360504 -0.125636  0.075553
IL    -0.500400 -0.757816 -1.813983 -2.250832 -0.902098
CZ     0.709815  0.728052  0.094412 -0.357924  0.657069
AA    -0.871598 -0.579248  0.501062  1.480957 -2.095387

In [40]:
df.index.names

FrozenList([None])

In [39]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [38]:
df1 = pd.DataFrame(np.random.randn(6,2), hier_index, ["a","b"])
df1

             a         b
G1 1  0.519151  0.268891
   2 -1.090240  0.400476
   3 -0.766073  1.322086
G2 1  1.120697  2.009089
   2 -0.979054 -0.713962
   3 -0.352818 -0.688018

In [48]:
df1.index.names = ['Groups','Nums'] #Assign names to indices
df1

                    a         b
Groups Nums
G1     1     0.519151  0.268891
       2    -1.090240  0.400476
       3    -0.766073  1.322086
G2     1     1.120697  2.009089
       2    -0.979054 -0.713962
       3    -0.352818 -0.688018

In [49]:
df1.loc['G2'].loc[2]['b']

-0.71396189944992605

In [51]:
df1.xs(1,level='Nums') #Cross Section

               a         b
Groups
G1      0.519151  0.268891
G2      1.120697  2.009089